@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@330&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --coolblue-color: #0090e3;
    --model-color: #285dab
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    border: solid #DDDD 1px;
    height: 600px;
    width: 300px;
}

.head {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 20px;
    margin: 0 0 66px 0;
}

.body {
    height: 450px;
    padding: 0px 20px;
}

.slogan {
    margin: 0 0 20px 0;
    max-width: 188px;
    height: 60px;
    text-align: right;
    font-size: 30px;
    line-height: 34px;
    color: var(--coolblue-color);
    font-family: "Roboto Slab", sans-serif;
}

.model {
    margin: 0 0 30px 0;
    width: 202px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.6px;
    color: var(--model-color);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.moving {
    position: relative;
    right: -91px;
    bottom: 152px;
    animation: spinning 1500ms linear infinite;
}

@keyframes spinning {
    to{ transform: rotate(360deg); }
}

#fadeIn { font-size: 0; opacity: 0; transition: 5000ms; }
#fadeIn.run { font-size: 20px; opacity: 1; }

.circle {
    position: relative;
    left: 189px;
    bottom: 220px;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background-color: var(--coolblue-color);
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 72px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

footer {
    height: 51px;
    display: flex;
    align-items: center;
    background-color: var(--coolblue-color);
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

#arrow {
    filter: invert(97%) sepia(100%) saturate(1%) hue-rotate(267deg) brightness(102%) contrast(101%);
    margin: 0 5px 0 0;
}

#coolblue-logo {
    position: relative;
    left: 214px;
    bottom: 76px;
    clip-path: inset(0 9.9px 19.9px 0);
    width: 96px;
    height: 96px;
}


