@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 300px;
    color: white;
    
}

.supplier-wrapper {
    padding: 15px 15px 62px 20px;
    display: flex;
    justify-content: flex-end;   
}

#samsung-logo {
    object-fit: cover;
    filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(253%) hue-rotate(148deg) brightness(86%) contrast(84%);
    width: 88px;
    height: 16px;

}

.slogan {
    padding: 0px 5px 10px 20px;
    width: 186px;
    height: 63px;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    color: #0090e3;
    font-family: "Roboto Slab", sans-serif;
}

.typenummer {
    width: 202px;
    padding: 10px 10px 15px 20px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.6px;
    color: #285dab;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

#wasmachine {
    margin: 15px 15px 94px 20px;
    
    
}

.footer {
    display: flex;
    align-items: center;
    width: 260px;
    height: 53px;
    background-color: #1C90E4;
    padding: 0 20px;
}

a {
    padding: 0 113px 0 5px;
    max-height: 24px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#arrow {
    filter: invert(97%) sepia(100%) saturate(1%) hue-rotate(267deg) brightness(102%) contrast(101%);
}

#coolblue-logo {
    position: absolute;
    left:50%;
    top:50%;
    clip: rect(0, 85px, 75px, 0);
    width:96px;
}